.flex_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-image: url();
}
nav {
    margin-left: 550px;
}
nav ul {
    display: inline;
    float: left;
}
.list {
    margin: 500px;
}
footer {
    background-color: gray;
    height: 400px;
    text-align: center;
}
img {
	transform: translateY(-50px);
}